@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Professor @ViewData["learn"]</p>
<p>@ViewData["learn"]</p>

<address>
    <strong>More Information: </strong> <a href="https://landingpage-eji.pages.dev/">My Landing Page</a>
</address>