@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>Tell Us <a href="https://landingpage-eji.pages.dev/">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Code example-->

