@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Code example-->
<div>
    <div id="nameAndTitle">
        <h1>Enter name</h1>
        <h2>System Analitcs</h2>
    </div>
</div>
<div>Apresentação</div>
<div>projetos</div>
<div>
    Area de contato
    <div id="contatoLink">
        <a href="linkedin">linkedin</a>
        <a href="github">github</a>
        <a href="curriculo">curriculo online</a>
    </div>
</div>
